.pic, .detail
{
	border: solid 1px;
}

.pic
{
	width: 350px;
	height: 350px;
	float: left;
}

.detail
{
	width: 610px;
	height: 350px;
	float: left;
	margin-left: 20px;
}

.price
{
	font-size: 16px;
	color: red;
}

.chosen
{
	color: red;
}

.bigstar15,.bigstar10,.bigstar05,.bigstar00
{background:url("../img/bigstars.gif") no-repeat;height:14px;display:block;color:#999;overflow:hidden;font-size:14px;line-height:100%;width:75px}
.bigstar50{background-position:0 0}
.bigstar45{background-position:0 -15px}
.bigstar40{background-position:0 -30px}
.bigstar35{background-position:0 -45px}
.bigstar30{background-position:0 -60px}
.bigstar25{background-position:0 -75px}
.bigstar20{background-position:0 -90px}
.bigstar15{background-position:0 -105px}
.bigstar10{background-position:0 -120px}
.bigstar05{background-position:0 -135px}
.bigstar00{background-position:0 -150px}

.bigstar50,.bigstar45,.bigstar40,.bigstar35,.bigstar30,.bigstar25,.bigstar20,.bigstar15,.bigstar10,.bigstar05,.bigstar00{display:inline-block;*display:inline;zoom:1;width:75px;height:14px;background:url("../img/bigstars.gif") no-repeat;margin:1px 0 0 0;overflow:hidden}
.bigstar50{background-position:0 0}
.bigstar45{background-position:0 -14px}
.bigstar40{background-position:0 -28px}
.bigstar35{background-position:0 -42px}
.bigstar30{background-position:0 -56px}
.bigstar25{background-position:0 -70px}
.bigstar20{background-position:0 -84px}
.bigstar15{background-position:0 -98px}
.bigstar10{background-position:0 -112px}
.bigstar05{background-position:0 -126px}
.bigstar00{background-position:0 -140px}

.bigstar50{background-position:0 0}
.bigstar45{background-position:0 -14px}
.bigstar40{background-position:0 -28px}
.bigstar35{background-position:0 -42px}
.bigstar30{background-position:0 -56px}
.bigstar25{background-position:0 -70px}
.bigstar20{background-position:0 -84px}
.bigstar15{background-position:0 -98px}
.bigstar10{background-position:0 -112px}
.bigstar05{background-position:0 -126px}
.bigstar00{background-position:0 -140px}