.container
{
	width: 1000px;
}

.navbar .container
{
	width: 1000px;
}

.sep10
{
	height: 10px;
}

.sep20
{
	height: 20px;
}

.rightbar
{
	float: right;
}

.promo, .product
{
	height: 220px;
}

#content, .promo, .product, .container, li
{
	/*border: solid 1px;*/
}