.container
{
	width: 1000px;
}

#brand {
	display: block;
	float: left;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
}

#brand {
	text-decoration: none;
}

.sep10
{
	height: 10px;
}

.sep20
{
	height: 20px;
}

.rightbar
{
	float: right;
}

#myCarousel
{
	margin: 0 auto;
	width: 830px;
}

.promo, .product
{
	height: 220px;
}

#content, .promo, .product, .container, li
{
	/*border: solid 1px;*/
}

.promo_pic
{

}

.content_pic
{
	list-style-type: none;
	
}

.content_pic li
{
	list-style: none;
}